<h1>
    Squadre Registrate al campionato di Fantacalcio
</h1>
<p>
    Questa pagina contiene l'elenco delle squadre partecipanti al fantacalcio:
    <ul>
        <li>Permettere la cancellazione e creazione di un elemento</li>
        <li>Validare la creazione solo con obbligatorierà del campo nome</li>
        <li>Ad ogni modifica la tabella dovrà aggiornarsi</li>
        <li>Presentare almeno un comportamento responsivo grazie ad a classi e css</li>
    </ul>
</p>
<br/>
<div class="col-form-label">
    <form>
        <div>
            <label>Denominazione</label>
            <input ng-model="item.denominazione" type="text" placeholder="Inserire il nome della squadra" required />
        </div>
        <div>
            <label>Allenatore</label>
            <input ng-model="item.allenatore" type="text" placeholder="Inserire il nome dell'allenatore" required />
        </div>
        <div>
            <label>Data di Fondazione</label>
            <input ng-model="item.datafondazione" type="date" placeholder="Inserisci la data di fondazione" required/>
        </div>
        <button ng-click="save(item)">Salva</button>
    </form>
</div>
<br/>
<br/>
<table class="table-bordered table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Denominazione</th>
            <th>Allenatore</th>
            <th>Data di Fondazione</th>
            <th><em>Azioni</em></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.id}}</td>
            <td>{{item.denominazione}}</td>
            <td>{{item.allenatore}}</td>
            <td>{{item.datafondazione | date}}</td>
            <td>
                <a class="btn btn-sm btn-info" ng-click="view(item.id)"><i class="fa fa-eye"></i> Apri</a>
                <a class="btn btn-sm btn-danger"  ng-click="del(item.id)"><i class="fa fa-trash"></i> Cancella</a>
            </td>
        </tr>
    </tbody>
</table>